<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <link rel="stylesheet" href="../css/mypageDelete.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/common/mypageheader :: MypageHeaderFragment}"></div>
    <main>
        <h2>회원탈퇴</h2>
        <form> 
            <div class="form_list">
                <div class="form_group">
                    <div class="form_item">
                        <input type="text" id="username" name="username" th:value="${myData.userId}" maxlength="20" disabled readonly>
                    </div>
                    <div class="form_item">
                        <input type="password" id="password" name="userPassword" placeholder="비밀번호" maxlength="16">
                	</div>
                	<div class="error_box">
                    	<div class="error_text"></div>
                	</div>
            		<div class="button_div">
                		<button class="button_re" type="button" id='submitButton' onclick="deleteUser()">회원탈퇴</button>
            		</div>
            		<!--
            			1. js파일에 function 만들어서 alert 띄우고 -> form submit()
            			2. ajax로 서버에 탈퇴 요청 -> 매개변수(res)에 탈퇴완료 메시지가 오면 alert 출력 클릭하면 -> 페이지 이동(href~)
            		-->
            	</div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
    <script src="/js/mypageDelete.js"></script>
</body>
</html>