<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내정보변경</title>
    <link rel="stylesheet" href="../css/mypageInfo.css">
</head>
<body>
<div th:replace="~{fragments/common/mypageheader :: MypageHeaderFragment}"></div>
    <main>
        <h2>내 정보 변경</h2>
        <form action="/game/mypageUpdate" method="POST">
            <div class="form_list">
                <div class="form_group" >
                    <div class="form_item" >
                        <input type="text" id="username" name="username" th:value="${myData.userId}" maxlength="20" disabled readonly>
                    </div>
                    <div class="form_item">
                        <input type="password" id="password" name="userPassword" placeholder="비밀번호" maxlength="16">
                    </div>
                    <div class="form_item">
                        <input type="password" id="passwordcheck" name="userPasswordcheck" placeholder="비밀번호 확인" maxlength="16">
                    </div>
                    <div class="form_item">
                        <input type="email" id="email" name="email" th:value="${myData.userEmail}" disabled readonly>
                    </div>
                </div>
                <div class="error_box">
                    <div class="error_text"></div>
                    <div class="error_text"></div>
                    <div class="error_text"></div>
                    <div class="error_text"></div>
                </div>
                <div class="form_group">
                    <div class="form_item">
                        <input type="text" id="name" name="name" th:value="${myData.userName}" disabled readonly>
                    </div>
                    <div class="form_item">
                        <input type="text" id="birthdate" name="birthdate" th:value="${myData.userBirthdate}" pattern="\d{8}" disabled readonly>
                    </div>
                    <div class="form_item">
                        <input type="tel" id="phone" name="userPhoneNumber" placeholder="휴대전화번호 (-포함)">
                    </div>
                </div>
                <div class="error_box">
                    <div class="error_text"></div>
                    <div class="error_text"></div>
                    <div class="error_text"></div>
                </div>
            </div>
            <div class="button_div">
                <button class="button_re" type="submit" id='submitButton' onclick="submitButton()">수정</button>
            </div>
            <div class="remove_div"><a th:href="@{/game/mypageDeleteForm}" class="button_re2_a">회원탈퇴</a></div>
        </form>
    </main>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
    <script src="/js/mypageInfo.js"></script>
</body>
</html>