<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필수정</title>
    <link rel="stylesheet" href="../css/mypagePro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/common/mypageheader :: MypageHeaderFragment}"></div>
    <main>
        <form action="/game/mypageForm/enroll" method="POST" id="profileForm" enctype="multipart/form-data">
            <div>
                <h2>프로필 수정</h2>
				<input type="hidden" id="picture" name="picture">
                <div class="profile-photo" id=imagePreviewContainer>
                    <p>프로필 사진</p>
                    <!-- <img th:src="@{/img/인간.png}"  alt="프로필 사진" id="imagePreview">
                    <img th:if="${post != null}"
                    	 th:src="@{{resourcesPath}/{changeName}
            				   (resourcesPath=${post.RESOURCES_PATH},
            					changeName=${post.changeName})}"> -->                    	 
                    <!-- If post is null, show this image (first image) -->
					<img th:if="${post == null}" th:src="@{/img/인간.png}" alt="프로필 사진" id="imagePreview">

					<!-- If post is not null, show this image (second image) -->
					<img th:if="${post != null}" th:src="@{{resourcesPath}/{changeName}
            				   						    (resourcesPath=${post.RESOURCES_PATH},
            										    changeName=${post.changeName})}"
            			 id="imagePreview">
	  
                </div>
                <div class="button-group">
    				<span>
        				<label for="file">
            				<input type="file" id="file" name="file" style="display:none;" onchange="previewImage(event)">
            				<button type="button" onclick="document.getElementById('file').click()">사진 변경</button>
        				</label>
    				</span>
    			<button type="button" class="secondary" onclick="filedelete()">삭제</button>
				</div>
            </div>
        </form>
    </main>
    <div class="button-group">
        <button type="button" onclick="submitForm()">적용</button>
        <button type="button" onclick="window.history.back()">뒤로 가기</button>
    </div>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
    <script src="/js/mypagePro.js"></script>
</body>
</html>