<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필수정</title>
    <link rel="stylesheet" href="../css/mypagePro.css">
</head>
<body>
<div class="header-Div">
    <header>
        <h1><a class="header-a" href="../html/home.html">THE RANK</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="../html/mypagePro.html">내프로필</a></li>
            <li><a href="../html/mypageInfo.html">내정보변경</a></li>
            <li><a href="../html/mypageInquiry.html">내문의사항</a></li>
        </ul>
        <div class="auth-links">
            <a href="#">로그아웃</a>
        </div>
    </nav>
</div>
    <main>
        <form action="">
            <div>
                <h2>프로필 수정</h2>

                <div class="profile-photo">
                    <p>프로필 사진</p>
                    <img src="../img/인간.png" alt="프로필 사진">
                </div>

                <div class="button-group">
                    <button type="button">사진 변경</button>
                    <button type="button" class="secondary">삭제</button>
                </div>

            </div>
        </form>
    </main>
    <div class="button-group">
        <button type="button">적용</button>
        <button type="button">취소</button>
    </div>
    <footer style="color: #707070;">
        <em>
            상호 : 그린컴퓨터 &nbsp; | &nbsp; 대표자 : 이재형, 한봉오, 전주영 &nbsp;
            <br>
            <br>
            주소 : 경기도 안양시 만안구 안양로 303
            <br>
            <br>
            고객센터 : 1234-5678 &nbsp;  | &nbsp;  사업자 등록번호 : 123-45-6789  &nbsp; | &nbsp;  통신판매등록번호 : 제2025-경기안양-802호 &nbsp; | &nbsp; ⓒ THE RANK Corp.
        </em>
    </footer>
</body>
</html>