<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지 사항</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/noticesInfo.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: HeaderFragment}"></div>
	<main>
    	<div class="container">
    	<h2>공지 사항</h2>
        <div class="title">개인정보처리방침 개정 안내</div>
        <div class="date">2023-12-06</div>
        <div class="content">
            안녕하세요. 더로그입니다.<br><br>
            더로그 개인정보처리방침이 2023년 12월 12일자로 변경됩니다. 변경되는 주요 사항을 안내하오니 서비스 이용에 참고하여 주시기 바랍니다.
            <div class="info-box">
                <strong>■ 시행일</strong><br>
                - 2023년 12월 12일(화)<br><br>
                <strong>■ 변경사항</strong><br>
                9. 개인정보에 관한 민원서비스<br>
                - 개인정보 보호 책임자 변경
            </div>
            감사합니다.
        </div>
        <div class="navigation">
            <div>이전: <a href="#">[공지] 코로나19로 인한 더로그 PC방 주간 리포트 발행 일시 중단 안내</a> (2020-08-21)</div>
            <a href="#" class="btn">목록으로</a>
        </div>
    </div>
    	</main>
</body>
<footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>  



















