<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE RANK</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
<div class="header-Div">
    <header>
        <h1><a class="header-a" th:href="@{/game/main/form}">THE RANK</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">게임 DB</a></li>
            <li><a href="#">1:1 문의사항</a></li>
            <li><a href="#">자주묻는질문</a></li>
            <li><a href="#">공지사항</a></li>
        </ul>
        <div class="auth-links">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
        </div>
    </nav>
</div>    
<div class="header-Div" th:fragment="HeaderFragment">
    <header>
        <h1><a class="header-a" href="home.html">THE RANK</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">게임 DB</a></li>
            <li><a href="#">1:1 문의사항</a></li>
            <li><a href="#">자주묻는질문</a></li>
            <li><a href="#">공지사항</a></li>
        </ul>
        <div class="auth-links">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
        </div>
    </nav>
</div>
