

.categories {
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
.categories table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.categories td {
    padding: 10px;
}
.categories th {
    background-color: #f0f0f0;
    font-weight: bold;
}
.categories:hover{
	cursor:pointer;
}


    .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            max-width: 1200px;
            margin: auto;
        }
        .card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .card img {
            width: 100%;
            height: 140px;
            object-fit: cover;
        }
        .card-content {
            padding: 10px;
        }
        .card-content h3 {
            font-size: 1.1em;
            margin: 0 0 10px;
        }
        .card-content p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #555;
        }