body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

.header-Div {
    box-shadow: 0px 1px 5px -2px #333;
}

header {
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
    margin-bottom: -40px;
}

.header-a {
    text-decoration-line: none;
    color: #333;
}

nav {
    background-color: #f0f8ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(135, 221, 248);
}

.auth-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.auth-links a:hover {
    color: rgb(135, 221, 248);
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #eaf5ff;
    padding: 15px;
    padding-left: 300px;
    padding-bottom: 20px;
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 13px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f0f8ff;
    border-radius: 5px;
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

.form_list {
    display: flex;
    flex-direction: column;
}

.form_item {
    margin-bottom: 0;
}

.form_group {
    margin-bottom: 20px;
}

.error_box {
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
}

.error_text {
    display: none;
    font-size: 12px;
    line-height: 20px;
    color: #ff3f3f;
}

input {
    border: 1px solid #f0f8ff;
    padding: 15px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 1px;
}

.button_re {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 400px;
    position: fixed;
    top: 700px;
}

.button_re2_a {
    text-decoration: none;
    color: #ff3f3f  ;
    position: fixed;
    top: 750px;
}

.button_div {
    display: flex;
    justify-content: center;
}

.remove_div {
    display: flex;
    justify-content: right;
}

.button_re:hover {
    background-color: #0056b3;
}

.button_re2:hover {
    background-color:#ff3f3f
}