<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div class="header-Div">
    <header>
        <h1><a class="header-a" href="../html/home.html">THE RANK</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">게임 DB</a></li>
            <li><a href="#">1:1 문의사항</a></li>
            <li><a href="#">자주묻는질문</a></li>
            <li><a href="#">공지사항</a></li>
        </ul>
        <div class="auth-links">
            <a href="../html/loginin.html">로그인</a>
            <a href="../html/loginup.html">회원가입</a>
        </div>
    </nav>
</div>
    <main>
    </main>
    <footer style="color: #707070;">
        <em>
            상호 : 그린컴퓨터 &nbsp; | &nbsp; 대표자 : 이재형, 한봉오, 전주영 &nbsp;
            <br>
            <br>
            주소 : 경기도 안양시 만안구 안양로 303
            <br>
            <br>
            고객센터 : 1234-5678 &nbsp;  | &nbsp;  사업자 등록번호 : 123-45-6789  &nbsp; | &nbsp;  통신판매등록번호 : 제2025-경기안양-802호 &nbsp; | &nbsp; ⓒ THE RANK Corp.
        </em>
    </footer>
</body>
</html>