<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/loginin.css">
</head>
<body>
    <div th:replace="~{fragments/common/header :: HeaderFragment}"></div>
    <main>
        <h2>회원님의 아이디를 확인해주세요</h2>
        <form action="/game/findPasswordForm" method="GET">
            <div class="form_list">
                <div class="form_group">
                    <div class="form_item">
                    	<h4 th:if="${signupDTO.userId != null}" 
                    		th:text="'회원님의 아이디는&ensp;' + ${signupDTO.userId} + '&ensp;입니다.'"></h4>
                    	<h4 th:if="${signupDTO.userId == null}">조회결과가 없습니다.</h4>
                    </div>
                </div>
                <div class="button_div">
                	<button th:if="${signupDTO.userId != null}" type="submit">비밀번호 찾기</button>
                	<button th:if="${signupDTO.userId == null}" type="button" th:onclick="|location.href='@{/game/findIdForm}'|">아이디 찾기</button>
                </div>
                <div class="form_footer">
                    <a th:href="@{/game/logininForm}">로그인</a>
                    <span>|</span>
                    <a th:href="@{/game/loginupForm}">회원가입</a>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
</body>
</html>
