<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/loginin.css">
</head>
<body>
    <div th:replace="~{fragments/common/header :: HeaderFragment}"></div>
    <main>
        <h2>회원님의 임시 비밀번호를 확인해주세요</h2>
        <form action="/game/findPasswordForm" method="GET">
            <div class="form_list">
                <div class="form_group">
                    <div class="form_item">
                    	<h4 th:text="${changePassword}"></h4>
                    </div>
                </div>
                <div class="button_div">
                	<button type="button" th:if="${boolean == true}" th:onclick="|location.href='@{/game/logininForm}'|">로그인 페이지로 이동</button>
                	<button type="button" th:if="${boolean == false}" th:onclick="|location.href='@{/game/findPasswordForm}'|">비밀번호찾기로 이동</button>
                </div>
                <div class="form_footer">
                    <a th:href="@{/game/loginupForm}">회원가입</a>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
</body>
</html>
