<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/loginin.css">
</head>
<body>
    <div th:replace="~{fragments/common/header :: HeaderFragment}"></div>
    <main>
        <h2>로그인</h2>
        <form action="/game/loginin" method="POST">
            <div class="form_list">
                <div class="form_group">
                    <div class="form_item">
                        <input type="text" id="username" name="userId" placeholder="아이디" maxlength="20">
                    </div>
                    <div class="form_item">
                        <input type="password" id="password" name="userPassword" placeholder="비밀번호" maxlength="16">
                    </div>
                </div>
                <div class="button_div">
                    <button type="submit" id='submitButton'>로그인</button>
                </div>
                <div class="form_footer">
                    <a href="#" class="form_a">비밀번호 찾기</a>
                    <span>|</span>
                    <a href="#" class="form_a">아이디 찾기</a>
                    <span>|</span>
                    <a th:href="@{/game/loginupForm}">회원가입</a>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/common/footer :: FooterFragment}"></footer>
    <script src="../javaScript/loginup.js"></script>
</body>
</html>
